# {{ ansible_managed }}
HTTP(ACCEPT) all $FW
HTTPS(ACCEPT) all $FW
{% if shorewall_variant == 'ip4' %}
# SSH to backup server
SSH(ACCEPT) $FW all:81.187.82.242
{% else %}
# SSH to backup server
SSH(ACCEPT) $FW all:[2001:1620:2019::213]
# SSH to main list server
SSH(ACCEPT) $FW all:[2001:ba8:0:2c77:0:4:0:1]
{% endif %}
# Sanesecurity signatures
Rsync(ACCEPT) $FW all - - - - - clamav
