# {{ ansible_managed }}
HTTP(ACCEPT) all $FW
HTTPS(ACCEPT) all $FW
SMTP(ACCEPT) all $FW
{% if shorewall_variant == 'ip4' %}
# SSH to backup server
SSH(ACCEPT) $FW all:77.109.148.26
# HTTP to publicsuffix.org
HTTPS(ACCEPT) $FW all:34.160.122.198
{% else %}
# SSH to backup server
SSH(ACCEPT) $FW all:[2001:1620:2019::213]
# SSH to archive server
SSH(ACCEPT) $FW all:[2001:ba8:0:2cb5::1]
# HTTP to publicsuffix.org
HTTPS(ACCEPT) $FW all:[2600:1901:0:4c10::]
{% endif %}
# Sanesecurity signatures
Rsync(ACCEPT) $FW all - - - - - clamav
# Freshclam
HTTP(ACCEPT) $FW all - - - - - clamav
HTTPS(ACCEPT) $FW all - - - - - clamav
# sa-update
ACCEPT $FW all - - - - - debian-spamd
# mailman (recaptcha)
HTTPS(ACCEPT) $FW all - - - - - www-data
