# {{ ansible_managed }}

CHECK_RCPT_VERIFY_SENDER = true
CHECK_RCPT_IP_DNSBLS = zen.spamhaus.org
CHECK_RCPT_DOMAIN_DNSBLS = dbl.spamhaus.org/$sender_address_domain
CHECK_RCPT_SPF = true
MAILMAN_HOME=/var/lib/mailman
MAILMAN_WRAP=MAILMAN_HOME/mail/mailman
MAILMAN_USER=list
MAILMAN_GROUP=list

CHECK_DATA_LOCAL_ACL_FILE = CONFDIR/local_data_acl
av_scanner = clamd:/var/run/clamav/clamd.ctl

# Match debian.org systems. This is now the default behaviour in newer
# configs.
# https://salsa.debian.org/alioth-lists-team/ansible/issues/25
CHECK_DATA_VERIFY_HEADER_SYNTAX = true

smtp_accept_max = 100
smtp_accept_queue_per_connection = 50
queue_only_load = 8
deliver_queue_load_max = 12
smtp_load_reserve = 10
smtp_reserve_hosts = 127.0.0.1

MAIN_TLS_ENABLE = true
CHECK_RCPT_POSTMASTER = postmaster:abuse
MAIN_FREEZE_TELL =
# New in stretch and does a good job of breaking Yahoo Groups and other
# non-spam sources
IGNORE_SMTP_LINE_LENGTH_LIMIT = true

MAIN_LOCAL_DOMAINS = {{ mailman_domains|join(':') }}

# DKIM macros
# get the sender domain from the outgoing mail
#DKIM_DOMAIN = ${if def:h_from:{${lc:${domain:${address:$h_from:}}}}{$qualify_domain}}
DKIM_DOMAIN = alioth-lists.debian.net
# the key file name will be based on the domain name in the From header
#DKIM_KEY_PATH = /var/lib/dkim
#DKIM_KEY_FILE = DKIM_DOMAIN.pem
DKIM_SELECTOR = {{ ansible_hostname }}
#DKIM_PRIVATE_KEY = ${lookup {DKIM_KEY_FILE} dsearch,ret=full {DKIM_KEY_PATH}}
DKIM_PRIVATE_KEY=/var/lib/dkim/alioth-lists.debian.net.pem
DKIM_CANON = relaxed
DKIM_TIMESTAMPS = 864000
