# If you change this file, run 'update-grub' afterwards to update
# /boot/grub/grub.cfg.
# For full documentation of the options in this file, see:
#   info -f grub -n 'Simple configuration'

GRUB_DEFAULT=0
GRUB_TIMEOUT=5
GRUB_DISTRIBUTOR=`lsb_release -i -s 2> /dev/null || echo Debian`
GRUB_CMDLINE_LINUX_DEFAULT="quiet"
{% if serial_console_index is defined %}
{% if console_on_tty0 %}
GRUB_CMDLINE_LINUX="console=tty0 console=ttyS{{ serial_console_index }},{{ serial_console_speed }}n8"
{% else %}
GRUB_CMDLINE_LINUX="console=ttyS{{ serial_console_index }},{{ serial_console_speed }}n8"
{% endif %}
{% else %}
GRUB_CMDLINE_LINUX=""
{% endif %}

# Uncomment to enable BadRAM filtering, modify to suit your needs
# This works with Linux (no patch required) and with any kernel that obtains
# the memory map information from GRUB (GNU Mach, kernel of FreeBSD ...)
#GRUB_BADRAM="0x01234567,0xfefefefe,0x89abcdef,0xefefefef"

# Uncomment to disable graphical terminal (grub-pc only)
{% if serial_console_index is defined %}
GRUB_TERMINAL=serial
GRUB_SERIAL_COMMAND="serial --speed={{ serial_console_speed }} --unit={{ serial_console_index }} --word=8 --parity=no --stop=1"
{% else %}
GRUB_TERMINAL=console
{% endif %}

# The resolution used on graphical terminal
# note that you can use only modes which your graphic card supports via VBE
# you can see them in real GRUB with the command `vbeinfo'
#GRUB_GFXMODE=640x480

# Uncomment if you don't want GRUB to pass "root=UUID=xxx" parameter to Linux
#GRUB_DISABLE_LINUX_UUID=true

# Uncomment to disable generation of recovery mode menu entries
#GRUB_DISABLE_RECOVERY="true"

# Uncomment to get a beep at grub start
#GRUB_INIT_TUNE="480 440 1"
