# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto {{ primary_network_interface }}
iface {{ primary_network_interface }} inet static
    address {{ primary_ipv4 }}
    netmask {{ ipv4_netmask }} 
    gateway {{ ipv4_gateway }}
    up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/autoconf

iface {{ primary_network_interface }} inet6 static
    address {{ primary_ipv6 }}
    netmask 64
{% if ipv6_gateway %}
    gateway {{ ipv6_gateway }}
{% endif %}
    up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/forwarding
{% for addr in additional_ipv6_addresses %}
    pre-up ip -6 addr add {{ addr }} dev $IFACE
    pre-up ip -6 addr change {{ addr }} dev $IFACE preferred_lft 0
{% endfor %}

{% for addr in additional_ipv4_addresses %}
auto {{ primary_network_interface }}:{{ addr.index }}
iface {{ primary_network_interface }}:{{ addr.index }} inet static
    address {{ addr.addr }}
    netmask {{ ipv4_netmask }}

{% endfor %}
