# {{ ansible_managed }}
mailman:
  driver = accept
  domains = {{ mailman_domains|join(':') }}
  require_files = MAILMAN_HOME/lists/$local_part/config.pck
  local_part_suffix_optional
  local_part_suffix = -bounces : -bounces+* : \
                      -confirm+* : -join : -leave : \
                      -owner : -request : -admin
  transport = mailman
