# {{ ansible_managed }}
{% for list in archived_lists %}
Redirect /pipermail/{{ list }}/ https://alioth-lists-archive.debian.net/pipermail/{{ list }}/
{% endfor %}
# alioth supported both
Redirect /mailman/ https://alioth-lists.debian.net/cgi-bin/mailman/
