# {{ ansible_managed }}
# Disable securiteinfo databases, see debian bug#783228
si_dbs=""
# Disable Malware Patrol, debian bug#831607
mbl_dbs=""
# Disable doppelstern - it's no longer used
ss_dbs="$(echo $ss_dbs | sed -e 's,doppelstern.hdb,,g')"
