# Managed by ansible
#
# Shorewall version 4 - Hosts file
#
# For information about entries in this file, type "man shorewall-hosts"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-hosts.html
#
###############################################################################
#ZONE	HOST(S)					OPTIONS
{% for interface_type in fw_interface_types %}
{% if shorewall_variant == 'ip4' %}
net	{{ interface_type }}+:0.0.0.0/0
{% else %}
net {{ interface_type }}+:[::/0]
{% endif %}
{% endfor %}
