# Managed by ansible
#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
######################################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME		HEADERS		SWITCH		HELPER
#							PORT(S)	PORT(S)		DEST		LIMIT		GROUP
?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW
## Base rules
SMTP(ACCEPT) $FW all - - - - - root,Debian-exim
ACCEPT $FW all icmp
# For apt
HTTP(ACCEPT) $FW all - - - - - root
HTTPS(ACCEPT) $FW all - - - - - root
HTTP(ACCEPT) $FW all - - - - - _apt
HTTPS(ACCEPT) $FW all - - - - - _apt
{% if resolvconf_resolvers or resolvconf_resolvers_v6 %}
{% if resolvconf_resolvers and shorewall_variant == 'ip4' %}
DNS(ACCEPT) $FW all:{{ resolvconf_resolvers|join(',') }}
{% endif %}
{% if resolvconf_resolvers_v6 and shorewall_variant == 'ip6' %}
DNS(ACCEPT) $FW all:[{{ resolvconf_resolvers_v6|join('],[') }}]
{% endif %}
{% else %}
DNS(ACCEPT) $FW all
{% endif %}
NTP(ACCEPT) $FW all - - - - - root,ntp
Ping(ACCEPT) all $FW
SSH(ACCEPT) all $FW
## Service-specific rules
{% if shorewall_variant == 'ip4' %}
SHELL cat /etc/shorewall/rules.d/*.rules 2> /dev/null || true
{% else %}
SHELL cat /etc/shorewall6/rules.d/*.rules 2> /dev/null || true
{% endif %}
{% if shorewall_outbound_default_allow %}
ACCEPT $FW all
{% endif %}
