#!/bin/sh

set -e

. /root/.borgvars

borg create -v --stats                          \
    --compression lz4                           \
    ::'{hostname}-{now:%Y-%m-%d}'               \
    /home                                       \
    /srv                                        \
    /var                                        \
    /etc                                        \
    /root                                       \
{% if 'alioth-lists-archive' in group_names %}
    /archive                                    \
{% endif %}
    --exclude '/home/*/.cache'                  \
    --exclude '/var/cache'                      \
    --exclude '/var/lib/apt/lists'              

if date '+%w'; then
    # Only run on Sundays
    borg prune -v --list --prefix '{hostname}-' \
        --keep-daily=7 --keep-weekly=4 --keep-monthly=6
fi
