# {{ ansible_managed }}
#
# ACTIONS
#

[DEFAULT]
# Default banning action (e.g. iptables, iptables-new,
# iptables-multiport, shorewall, etc) It is used to define
# action_* variables. Can be overridden globally or per
# section within jail.local file
#banaction = iptables-multiport
banaction = shorewall
{% if exim_fail2ban %}

[exim]
enabled = true
{% endif %}
{% if mailman_fail2ban %}

[mailman]
enabled = true
# a bit more conservative since this is just a subscribe attempt
maxretry = 10
logpath = /var/log/mailman/subscribe

[apache-mailmansub]
enabled = true
logpath = /var/log/apache2/access.log
{% endif %}
