#!/bin/bash
#
# {{ ansible_managed }}

set -e

BASE=/var/lib/dkim
DNSBASE=/etc/bind/dkim

if [ -z "$1" ]; then
    echo "Usage: $0 <domain>"
    exit 1
fi

if [ -e "$BASE/$1.pem" ]; then
    echo "Key already exists for $1; refusing to continue"
    exit 1
fi

openssl genrsa -out $BASE/$1.pem 2048
chgrp Debian-exim $BASE/$1.pem
chmod g+r $BASE/$1.pem
