#!/bin/bash
#
# {{ ansible_managed }}

set -e

if [ -z "$1" ]; then
    echo "Usage: $0 <domain>"
    exit 1
fi

BASE=/var/lib/dkim
DNS_BASE=/var/lib/bind/dkim
ZONEFILE=$DNS_BASE/$1.zone

if [ -e "$ZONEFILE" ]; then
    echo "Zone fragment already exists for $1; refusing to continue"
    exit 1
fi

KEY=$(openssl rsa -in $BASE/$1.pem -pubout -outform PEM | grep -v ^--|sed -e 's/^/  "/' -e 's/$/"/')
echo "\$ORIGIN $1." > $ZONEFILE.tmp
echo "{{ ansible_hostname }}._domainkey       IN TXT (" >> $ZONEFILE.tmp
echo "  \"v=DKIM1; p=\"" >> $ZONEFILE.tmp
echo "$KEY)" >> $ZONEFILE.tmp
mv $ZONEFILE.tmp $ZONEFILE
