#!/usr/bin/python

# {{ ansible_managed }}

import re

from Mailman import mm_cfg
from Mailman.Logging.Syslog import syslog

ACCEPT_REG = getattr(mm_cfg, 'DEBIAN_WHITELIST', [])
VERBOSE    = getattr(mm_cfg, 'DEBIAN_WHITELIST_VERBOSE', False)
HEADER     = getattr(mm_cfg, 'DEBIAN_WHITELIST_APPROVED_HEADER', 'x-debian-approved')
accept_reg = []
for reg in ACCEPT_REG:
    acc_reg = re.compile(reg, re.IGNORECASE)
    accept_reg.append(acc_reg)

def process(mlist, msg, msgdata):
    for sender in msg.get_senders():
        for reg in accept_reg:
            if reg.match(sender):
                msg.add_header(HEADER, 'yes')
                msgdata['approved'] = 1
                msgdata['adminapproved'] = 1
                if VERBOSE:
                    syslog('vette', "DebianWhitelist: Accepting message to %s from %s" % (mlist.real_name, sender))
                return
