#!/bin/bash

# {{ ansible_managed }}

DIR={{ chmod_viruses_from_dir }}
CUTOFF={{ chmod_viruses_cutoff_days }}

dryrun=false
case "$1" in
	-n)
		dryrun=true
		shift
		;;
esac

# '[a-z][a-z][a-z]*.html' is to avoid scanning html indices that don't contain any virus
# i.e. index.html, author.html, date.html, thread.html, subject.html
find $DIR -type f -mtime -$CUTOFF -perm /a=r \! -name '*.pck' \! -name '*.mbox' \! -name '[a-z][a-z][a-z]*.html' | while read f; do
	clamdscan --quiet - < $f
	RET=$?
	if [ $RET = 1 ]; then
		shortfile=$(echo $f | sed -e "s#$DIR/##")
		if [ "$dryrun" = "true" ]; then
			echo "Found virus in $shortfile"
		else
			chmod 600 $f
			echo "Removed access to file with virus $shortfile"
		fi
	elif [ $RET = 2 ]; then
		echo "Error $RET"
		exit $RET
	fi
done
