import re

DEBIAN_BANNED_LIST = {{ debian_banned_list }}

# Please, put individual addresses here:
DEBIAN_BANNED_FILE = '{{ debian_banned_file }}'

with open(DEBIAN_BANNED_FILE, 'r') as banned:
    DEBIAN_BANNED_LIST.extend(
        # Ignore comments and whitespace
        filter(lambda x: re.match(r'^[^#]\S+$', x), banned.read().splitlines())
    )
