# Managed by ansible
127.0.0.1	localhost
{{ primary_ipv4 }}	{{ inventory_hostname }}	{{ ansible_hostname }}

{% for host in per_host_hosts %}
{{ host.ip }}	{{ host.name }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
