# {{ ansible_managed }}
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
* * * * * root /usr/local/sbin/check_mk_agent > /var/www/html/checkmk/agent.out.tmp && mv /var/www/html/checkmk/agent.out.tmp /var/www/html/checkmk/agent.out
