# {{ ansible_managed }}
<Directory /archive/pipermail/>
    Options FollowSymlinks Indexes
    AllowOverride None
    Require all granted
</Directory>

Alias /pipermail/ /archive/pipermail/
{% for list in reactivated_lists %}
Redirect /pipermail/{{ list }}/ https://alioth-lists.debian.net/pipermail/{{ list }}/
{% endfor %}
