# {{ ansible_managed }}
::1
127.0.0.1
# Mainly to avoid SPF rejections for debian.org services which don't
# rewrite when forwarding eg packages.debian.org
*.debian.org
# jenkins.debian.net - send large emails which can upset spamd
46.16.76.207
