# {{ ansible_managed }}

accept
    hosts = CONFDIR/host_local_deny_exceptions

accept
    hosts = :

deny message = This message contains malware ($malware_name)
  log_message = Malware: $malware_name; recipients would have been: $recipients
  malware = *
  !acl = acl_local_deny_exceptions

deny message = This message has been identified as spam (scored $spam_score). Please contact postmaster if you feel this is in error.
  log_message = Spam: scored $spam_score; recipients would have been: $recipients
  spam = spamd:true
  condition = ${if >{$spam_score_int}{50}{1}{0}}
  !acl = acl_local_deny_exceptions

warn message = X-Alioth-Lists-Spam-Score-Int: $spam_score_int
  spam = spamd:true
