# {{ ansible_managed }}

[INCLUDES]
before = common.conf

[Definition]
_daemon = mailman

# Feb 13 00:55:24 2021 (7707) list-name: pending xxx@example.com  x.x.x.x
failregex =  ^.*: pending \S+  <HOST>$
ignoreregex =
