<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ service_name }}</title>
<link rel="author" href="https://salsa.debian.org/alioth-lists-team">
<meta name="Description" content="Alioth Mailing Lists Continuation">
<meta name="viewport" content="width=device-width">
<meta name="mobileoptimized" content="300">
<meta name="HandheldFriendly" content="true">
<link href="https://www.debian.org/debhome.css" rel="stylesheet" type="text/css">
<link href="https://www.debian.org/debian-en.css" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" href="https://www.debian.org/favicon.ico">
<meta name="Keywords" content="debian, alioth, lists, archive">
</head>
<body>
<div id="header">
   <div id="upperheader">
   <div id="logo">
  <a href="https://www.debian.org/" title="Debian Home"><img src="https://www.debian.org/Pics/openlogo-50.png" alt="Debian" width="50" height="61"></a>
  </div> <!-- end logo -->
 </div> <!-- end upperheader -->
<!--UdmComment-->
<div id="navbar">
<p class="hidecss"><a href="#content">Skip Quicknav</a></p>
<ul>
   <li><a href="https://www.debian.org/intro/about">About Debian</a></li>
</ul>
</div> <!-- end navbar -->
<p id="breadcrumbs">alioth lists </p>
</div> <!-- end header -->
<!--/UdmComment-->
<div id="content">
<h1>{{ service_name }}</h1>
<h2>Getting Started</h2>
<ul>
  <li>See <a href="https://wiki.debian.org/Alioth/MailingListContinuation">MailingListContinuation</a> for more information about the purpose of this service.</li>
  <li>Visit the <a href="https://alioth-lists.debian.net/cgi-bin/mailman/listinfo">Mailman web interface</a> or <a href="https://alioth-lists-archive.debian.net/pipermail/">archive of inactive lists</a>.</li>
</ul>
<h2>Information for list users</h2>
<ul>
<li>Held messages are discarded after 6 months by default. Please check your held messages regularly and consider updating max_days_to_hold to a lower value</li>
<li>Monthly password reminders are disabled globally</li>
<li>New lists are considered on a case by case basis. Please consider other options such as <a href="https://www.debian.org/MailingLists/HOWTO_start_list">lists.debian.org</a> first</li>
<li>The Debian <a href="https://www.debian.org/MailingLists/#disclaimer">list disclaimer</a> and <a href="https://www.debian.org/MailingLists/#codeofconduct">code of conduct</a> applies to these lists too</li>
</ul>
<!-- TODO
<hr>
<h2>Terms of Service</h2>
-->
<div class="clr"></div>
</div> <!-- end content -->
<div id="footer">
  <hr class="hidecss">
<!--UdmComment-->
<div id="fineprint">
	<p>If you notice problems with the new service please check it's not already an issue, and report it, at <a href="https://salsa.debian.org/alioth-lists-team/support">support</a>.</p>
	<p>If you need to contact the team in private please use <a href="mailto:admin@alioth-lists.debian.net">admin@alioth-lists.debian.net</a>. You can also join <code>#alioth-lists</code> on irc.debian.org.</p>
	<p>Web site source code is <a href="https://salsa.debian.org/alioth-lists-team/ansible/tree/master/roles/apache/templates/var/www/html">available</a>.</p>
    <p>Hosting for alioth-lists-archive.debian.net kindly sponsored by <a href="http://www.jump.net.uk/">Jump Networks Ltd</a>.</p>
<p>
  Copyright &copy; 1997-2018
 <a href="https://www.spi-inc.org/">SPI</a> and others; See <a href="https://www.debian.org/license" rel="copyright">license terms</a><br>
  Debian is a registered <a href="https://www.debian.org/trademark">trademark</a> of Software in the Public Interest, Inc.
</p>
</div>
<!--/UdmComment-->
</div> <!-- end footer -->
</body>
</html>
